<p id="notice"><%= notice %></p>
            <section id="content">
                <div class="container wall">

                    <div class="row">
                        <div class="col-md-8">

    <% @shops.each do |shop| %>

      <div class="card">

        <div class="card-body" style="display:flex">
            <img class="" src="/assets/profile-pics/1.jpg" alt="" style="float:left; height:150px">
            <div class="media-body m-t-5">
                <h2><%= shop.title %></h2>
            </div>

            <div class="comment">Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce eget dolor id justo luctus commodo vel pharetra nisi. Donec velit libero, gravida vel diam ut, lobortis mollis quam. Morbi posuere egestas posuere. Curabitur in dui sollicitudin, lacinia magna at, laoreet sapien. Integer vitae eros nulla.</div>

            <div class="wall-img-preview lightbox clearfix">
            </div>

        </div>
      </div>

    <% end %>

</div>
</div>
</div>
</div>
<%= link_to 'New Shop', new_shop_path %>
