<% content_for :javascripts do %>
<script type='text/javascript'>
    handler = Gmaps.build('Google');
    handler.buildMap({
      internal: {id: 'basic_map'},
      provider: {
        styles: [{"featureType":"administrative.locality","elementType":"all","stylers":[{"hue":"#ffa800"},{"saturation":7},{"lightness":19},{"visibility":"on"}]},{"featureType":"landscape","elementType":"all","stylers":[{"hue":"#ff0000"},{"saturation":-100},{"lightness":100},{"visibility":"simplified"}]},{"featureType":"poi","elementType":"all","stylers":[{"hue":"#00ffd8"},{"saturation":-100},{"lightness":100},{"visibility":"off"}]},{"featureType":"road","elementType":"geometry","stylers":[{"hue":"#00ffd8"},{"saturation":"-48"},{"lightness":31},{"visibility":"simplified"}]},{"featureType":"road","elementType":"labels","stylers":[{"hue":"#00ffd8"},{"saturation":"80"},{"lightness":31},{"visibility":"on"}]},{"featureType":"road.arterial","elementType":"labels","stylers":[{"hue":"#00ffd8"},{"saturation":-93},{"lightness":-2},{"visibility":"simplified"}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"hue":"#00ffd8"},{"saturation":-90},{"lightness":-8},{"visibility":"simplified"}]},{"featureType":"transit","elementType":"all","stylers":[{"hue":"#00ffd8"},{"saturation":10},{"lightness":69},{"visibility":"on"}]},{"featureType":"water","elementType":"all","stylers":[{"hue":"#e9ebed"},{"saturation":-78},{"lightness":67},{"visibility":"simplified"}]}],
        zoom: 11,
        disableDefaultUI: true
      }
    }, function(){
      if(navigator.geolocation)
        navigator.geolocation.getCurrentPosition(displayOnMap);
    });

    function displayOnMap(position){
     var marker = handler.addMarker({
        lat: position.coords.latitude,
        lng: position.coords.longitude,
          "picture": {
            "url": "/assets/puces/puce_utilisateur.png",
            "width":  40,
            "height": 60
          },
          "infowindow": "Votre position"
      });
      handler.map.centerOn(marker);
      handler.addMarker(
        {
          lat: 48.4453967,
          lng: 1.4655531,
          "picture": {
            "url": "/assets/puces/puce_map_patisier.png",
            "width":  40,
            "height": 60
          },
          "infowindow": "La Fournèe<br/>26 r Noël Ballay, 28000 CHARTRES"
        })

      handler.addMarker(
        {
          lat: 48.4411628,
          lng: 1.4947089,
          "picture": {
            "url": "/assets/puces/puce_map_boulanger.png",
            "width":  40,
            "height": 60
          },
          "infowindow": "BOULANGERIE DENIS BRICHET <br/>6 r Pierre Mendès France, 28000 CHARTRES"
        })
       handler.addMarker(
        {
          lat: 48.3450344,
          lng: 1.4938143,
          "picture": {
            "url": "/assets/puces/puce_map_boucher.png",
            "width":  40,
            "height": 60
          },
          "infowindow": "Le Large White <br/>8 r Chartres, 28360 DAMMARIE"
        })

        handler.addMarker(
        {
          lat: 48.4457014,
          lng: 1.4887148,
          "picture": {
            "url": "/assets/puces/puce_map_poisson.png",
            "width":  40,
            "height": 60
          },
          "infowindow": "A La Fine Marée <br/>16 r Pie, 28000 Chartres"
        })
    };

    $("#query").typed({
        strings: ["First sentence.", "Second sentence."],
        typeSpeed: 0
      });


</script>
<% end %>

<% content_for :full_width do %>

<div style=''>
  <div id="basic_map" style='height: 560px;'></div>
  <div id="ribbon" style="width:100%; background-color:#4285F4;position:absolute;top:400px; height: 80px; padding-top:15px">
    <div class="row">
      <div class="container">
        <%= form_tag shops_path, :method => :get do |f|%>
        <div class="col-xs-9">

          <div class="fg-line form-group">
            <%= text_field_tag "query", nil, :class => "form-control input-sm", :style => "font-size:18px; height: 47px; padding-left:10px", :placeholder => "Je cherche des fleurs pour mon ex" %>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="fg-line form-group">
            <%= text_field_tag "location", nil, :class => "form-control input-sm", :style => "font-size:18px; height: 47px; padding-left:10px; width:65%; margin-right:5px; display:inline", :placeholder => "Chartres" %>
            <%= button_tag :class => "btn btn-lg btn-info waves-effect" do %>
              <i class="fa fa-search"></i>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div style="width:100%; background-color:#4285F4; height: 20px; color:white; text-align:center; font-weight:bold">
  LE TOP DE VOTRE VILLE
</div>
<div class="row">
    <div class="col-xs-2" style="background-image: url(/assets/index1.jpg);background-position: center;min-height:150px">&nbsp;
    </div>
    <div class="col-xs-2">
      <img src="/assets/gold_cup.png" width="100%">
    </div>
    <div class="col-xs-2" style="background-image: url(/assets/index2.jpg);background-position: center;min-height:150px">&nbsp;
    </div>
    <div class="col-xs-2">
      <img src="/assets/silver_cup.png" width="100%">
    </div>
    <div class="col-xs-2" style="background-image: url(/assets/index3.png);background-position: center;min-height:150px">&nbsp;
    </div>
    <div class="col-xs-2">
      <img src="/assets/bronze_cup.png" width="100%">
    </div>
</div>

<% end %>
