a:hover {
  background-color: #3ca5dc;
  color: #fff;
  text-decoration: none;

}

.logo a:hover{
  background-color:transparent;
}

.tab-nav > li > a:hover{
  color: #fff;
}
/*SHOW.HTML.ERB*/
/*session avis*/
.lv-message .lv-item:not(.right) .ms-item {
	background: #fff;
	border: 2px #fcb449 solid;
  color: #000 ;
  max-width: 100%;
}

.pmb-block {
  border-top: 1px, solid, #777;
}

.listview{
  margin-top: 15px;
}

#profile-main .pmb-block .pmbb-header h2  {
  margin-bottom: 10px;
}

#profile-main .pmo-pic .pmo-stat {
  padding: 15px 5px 15px;
}
#profile-main .pmo-pic img{
  min-height: 259px;
}

.img .avatar {
  height: 259px;

}

.fa {
  margin-right: 5px;
}

.detail_ranking {
  margin: 10px 0 10px 0;
}

.testimonial{
  margin-top: 15px;
  text-align: center;
}

#hidden_modal{
  display:none;
}


/* HEADER */
#header {
  background: #3ca5dc;
}

.block-header{
	margin-top: 25px;
}

.block-header > h2 {
    font-size: 20px;
    color: #777;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
  }

/*rating header */
.inline-image {
	 display:inline;
}

/* star-code*/
.average_star {
	margin-top: 25px;
	background-color: #fcb449;
}

h2.note {
  text-align: center;
  font-size: 30px;
  font-style: italic;
  color: #fff;
}

.star_img {
	padding-top: 21px;
}

/* LIKE */

.like {
  margin-top: 25px;
}

.fa-thumbs-o-up:before {
  color: #777;
}

.fa-thumbs-o-down:before {
  color: #777;
}

.like_note {
    text-align: center;
    font-size: 30px;
    font-style: italic;
    color: #777;
    padding:0 0 0 10px;
}

.fa-thumbs-o-down {
  padding-left: 10px;
}

/* ONGLETS */
.tab-nav.tn-justified > li {
  padding: 15px 0 0 0;
}


/*BLOC INFOS*/
#profile-main .pmb-block.info {
  padding: 40px 42px 25px;
  border-bottom: solid 2px #edecec;
  margin-bottom: 0;
}

#profile-main .pmb-block.detail {
  padding: 0 42px 0;
}

/* ASIDE */
#profile-main .pmo-pic .pmo-stat {
  background: #3ca5dc;
}

.job_position {
  font-size: 20px;
}

/* NEW.HTML.ERB - sessions*/
/*login-navigation*/

.without_bottom_margin {
  padding-bottom: 30px;
  margin: 0px;
  background-color: #edecec;

}

.login-navigation > li:hover {
	font-size: 12px;
	padding: 10px 20px;
}

.login-navigation a {
	color: #fff;

}

/* NEW.HTML.ERB - passwords*/
/*button*/

.lc-block:not(.lcb-alt) .btn-login {
	margin-top: 0;
}


/* APPLICATION.HTML.ERB*/
/*rating stars*/

@import url(../font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body {
  margin: 20px;

}
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }


/*button*/

.logout {
	margin-right: 10px;

}
.top-menu > li > a {
	height: 28px;
	margin-bottom: 5px;
	}